# .gitignore

# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# IDE/Editor-mapper
.vscode/
.idea/

# Ignorer backup-filer
*.bak

# Ignoerer debug og testfiler
*.txt
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*

*.html
*.json
*.jsonl
*.jsonl.*
*.jsonl.*.*
*.jsonl.*.*.*
*.jsonl.*.*.*.*
*.jsonl.*.*.*.*.*

*.csv
*.csv.*
*.csv.*.*
*.csv.*.*.*
*.csv.*.*.*.*
*.csv.*.*.*.*.*



