# Ignore environment variables file
.env
project.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore log files
*.log
airflow_logs/

# Ignore local development files
.idea/
.vscode/
*.swp
*.swo

# Ignore docker-compose override files
docker-compose.override.yml